<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>$('select').selectpicker();</script>
    <title>Welcome Admin</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SAM-2021</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="./ManageUsersAdmin">Manage Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./CreateReview">Create Review Template</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./CreateNotificationTemplateAdmin">Create Notification Template</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./CreateDeadline">Create Deadline</a>
            </li>
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0 bg-dark">
          <a th:href="@{/logout}">LOG OUT</a>
        </form>
    </nav>
    <div class="container">
        <div class="row">
           
            <div class="col-sm mx-auto text-center" style="width: 100px;">
              <div th:text="${Message}" th:if="${Message}" class="alert alert-primary"></div>
              <h1 class="display-4" style="font-size: 40px;">Manage Users</h1>
              <button id= "refresh" name="Refresh" type="button" class="btn btn-primary" style="margin:2px">Refresh</button><button type="button" class="btn btn-primary" style="margin:2px" data-toggle="modal" data-target="#createUser" data-whatever="@mdo">Create New User</button>
              <div class="container-fluid rounded" style="height:500px; border:2px solid #cecece; padding: 1px;">
                  <table class="table" style="text-align: center;">
                      <thead>
                        <tr>
                          <th scope="col" style="text-align: center;">Email</th>
                          <th scope="col" style="text-align: center;">Role</th>
                          <th scope="col" style="text-align: center;">Edit</th>
                          <th scope="col" style="text-align: center;">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="usert : ${users}">
                          <td th:text="${usert.email}"></td>
                          <td th:text="${usert.accountType}"></td>
                          <td><a type="button" class="btn btn-secondary" th:href="@{/ManageUsersAdmin/edit/{id}(id=${usert.id})}">Edit</a></td>
                          <td><a type="button" class="btn btn-secondary" th:href="@{/ManageUsersAdmin/delete/{id}(id=${usert.id})}">Delete</a></td>
                        </tr>
                      </tbody>
                    </table>
              </div>      
              </div>
            </div>
        </div>
      </div>
      <!-- Create for a user -->
      <div class="modal fade" id="createUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form th:action="@{/ManageUsersAdmin}" th:method ="POST" th:object="${user}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Add User</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label for="ftname" class="col-form-label">First Name:</label>
                      <input type="text" name="ftname" th:field="*{ftname}" class="form-control">
                      <p class="error-message" th:each="error : ${#fields.errors('ftname')}" th:text="${error}">Validation error</p>
                      <label for="ltname" class="col-form-label">Last Name:</label>
                      <input  name="ltname" th:field="*{ltname}" type="text" class="form-control">
                      <p class="error-message" th:each="error : ${#fields.errors('ltname')}" th:text="${error}">Validation error</p>
                      <label for="email" class="col-form-label">Email:</label>
                      <input type ="email" name="email" th:field="*{email}" class="form-control">
                      <p class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
                      <label for="phonenumber" class="col-form-label">Phone Number:</label>
                      <input type ="phone number" name="phonenumber" th:field="*{phonenumber}" class="form-control">
                      <p class="error-message" th:each="error : ${#fields.errors('phonenumber')}" th:text="${error}">Validation error</p>
                      <label for="affiliation" class="col-form-label">Affiliation:</label>
                      <input type ="affiliation" name="affiliation" th:field="*{affiliation}"  class="form-control" >
                      <p class="error-message" th:each="error : ${#fields.errors('affiliation')}" th:text="${error}">Validation error</p>
                      <label for="password" class="col-form-label">Password:</label>
                      <input type ="password" name="password" th:field="*{password}" class="form-control">
                      <p class="error-message" th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                      <div class="form-group">
                        <label for="sel1">Role</label>
                        <select th:field="*{accountType}" class="form-control" id="sel1">
                          <option value="">Select Role</option>
                          <option th:each="role : ${T(com.sam2021.sam2021.models.Enums.AccountTypeEnum).values()}" th:value="${role}" th:text="${role}"></option>
                        </select>
                        <p class="error-message" th:each="error : ${#fields.errors('accountType')}" th:text="${error}">Validation error</p>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" value="submit" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <script>$(document).ready(function() { $("#refresh").click(function(){ location.reload(false); }); });</script>
    </body>
</html>
