<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class='container'>
        <form th:action= "@{/PCMReview/SubmitReview/{paperId} (paperId=${paper.id})}" method ="post" modelAttribute="reviewText">
            <div th:replace="@{'/reviewTemplates/' + ${reviewTemplate}} :: reviewContent"></div>
            <input class="btn btn-success" type = "submit" name ="save_review">
        </form>
    </div>
</body>